<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Roman Nikolaenko">
    <meta property="og:image" content="img/logo-eurocontainer-145x140.png"/>
    <meta name="keywords"
          content="сміттєвий бак, контейнер, євроконтейнер, для сміття, сміттєвий, об'єм, купити, ціна, постачальник, київ, україна">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description"
          content="У продажу контейнери для сміття (баки) ➤ на ☑1100 л, ☑240 л, ☑120 л, ☑0,75м3 Телефонуйте! ☎ +380 67 18 04 460 ❋ Нові та б/у ❋ Пластикові і металеві ❋ з кришкою, колесами, різних кольорів ❋ Доставка. Гарантія">

    <link rel="shortcut icon" href="assets/img/logo-eurocontainer-145x140.png"/>
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>{{ title }}</title>
</head>
<body>
<div class="wrapper">
    {{> body }}
</div>

<script src="assets/js/components/jquery.js"></script>
<!--<script src="assets/js/components/jquery.watermark.min.js"></script>-->
<script src="assets/js/components/magnific.popup.js"></script>
<script src="assets/js/components/maskedInput.js"></script>
<script src="assets/js/components/jq.animation.js"></script>
<script src="assets/js/components/stats_plugin.js"></script>
<script src="assets/js/components/slick.min.js"></script>

<script src="assets/js/components/containers.js"></script>

<script src="assets/js/components/popup.js"></script>

<script src="assets/js/app.js"></script>
</body>
</html>