<div class="delivery">
    <div class="delivery__title">
        <h5>Доставка контейнерів по всій країні</h5>
    </div>
    <div class="delivery__inner">
        <div class="container">
            <div class="delivery__img">
                <picture>
                    <source srcset="assets/img/delivery/1.webp" type="image/webp">
                    <img src="assets/img/delivery/1.png" alt="">
                </picture>
                <picture>
                    <source srcset="assets/img/delivery/2.webp" type="image/webp">
                    <img src="assets/img/delivery/2.png" alt="">
                </picture>
                <picture>
                    <source srcset="assets/img/delivery/3.webp" type="image/webp">
                    <img src="assets/img/delivery/3.png" alt="">
                </picture>
                <picture>
                    <source srcset="assets/img/delivery/4.webp" type="image/webp">
                    <img src="assets/img/delivery/4.png" alt="">
                </picture>
                <picture>
                    <source srcset="assets/img/delivery/5.webp" type="image/webp">
                    <img src="assets/img/delivery/5.png" alt="" class="mobile">
                </picture>
            </div>
        </div>
    </div>
</div>