<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__block">
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li>Контейнери:</li>
                        <li><a class="scrollTo" href="#cont_1100">1100 <span>л</span></a></li>
                        <li><a class="scrollTo" href="#cont_750">750 <span>л</span></a></li>
                        <li><a class="scrollTo" href="#cont_240">240 <span>л</span></a></li>
                        <li><a class="scrollTo" href="#cont_120">120 <span>л</span></a></li>
                        <li><a class="scrollTo" href="#cont_separate">1100 <span>л</span> <p>для роздільного збору</p></a></li>
                        <li><a class="scrollTo" href="#offer">Послуги</a></li>
                        <li><a class="scrollTo" href="#contact">Контакти</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__block">
                <img src="assets/img/icons/logo.svg" alt="">
                <p><b>Контактні телефони:</b></p>
                <div class="footer__icon">
                    <a href="whatsapp://send?phone=%2B380977466704">
                        <img src="assets/img/icons/icon_watsapp.svg" alt="">
                    </a>
                    <a class="desktopViber" href="viber://chat?number=%2B380977466704">
                        <img src="assets/img/icons/icon_viber.svg" alt="">
                    </a>
                    <a class="mobileViber" href="viber://add?number=%2B380977466704">
                        <img src="assets/img/icons/icon_viber.svg" alt="">
                    </a>
                    <a href="tg://resolve?domain=kievspecteh">
                        <img src="assets/img/icons/icon_telegram.svg" alt="">
                    </a>
                </div>
                <div class="footer_phone">
                    <a href="tel:+380977466704">+38 (097) 746-67-04</a>
                    <a href="tel:+380996321331">+38 (099) 632-13-31</a>
                    <a href="tel:+380442320298">+38 (044) 232-02-98</a>
                </div>
                <p>
                    <b>Наша адреса:</b> <span>Україна, Київ, вул. Ярославів Вал, буд.13/2 "Б"</span>
                </p>
                <p>
                    <b>E-mail</b> <a class="footer__email" href="mailto:eurocontainerua@gmail.com">eurocontainerua@gmail.com</a>
                </p>
                <p><b>Часи роботи:</b> <span>08:00 - 20:00, без вихідних</span></p>
            </div>
            <div class="footer__block">
                <div class="footer__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.4723484873575!2d30.507607615731388!3d50.450928279475384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce594d663f53%3A0xb346b265ea802914!2z0YPQuy4g0K_RgNC-0YHQu9Cw0LLQvtCyINCS0LDQuywgMTMsINCa0LjQtdCyLCAwMTAwMQ!5e0!3m2!1sru!2sua!4v1566834528913!5m2!1sru!2sua"
                            allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copy">
        <div class="container">
            <div class="footer__wrap">
                <div>2019 © eurocontainer.com.ua Всі права захищено.</div>
                <div class="footer__wrapper">
                    <div class="footer__wrapper-item"><a href="https://www.zina.design"><span>Зіна дизайн</span></a>
                    </div>
                    <div class="footer__wrapper-item">
                        Створення сайту: © 2019
                        <a href="https://www.zina.design">
                            <span>Студія «Зіна дизайн»,</span>
                        </a>Дніпро
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a class="scroll-up scrollTo" href="#header">
    <svg class="scroll-up__svg" viewBox="-2 -2 52 52">
        <path class="scroll-up__svg-path"
            d="
                M24,0
                a24,24 0 0,1 0,48
                a24,24 0 0,1 0,-48
            "
        />
    </svg>
</a>

<div class="reviews__button lock-margin">
    <a class="scrollTo" href="#reviews"></a>
</div>

<div class="call_Phone">
    <a href="tel:+380977466704">+38 (097) 746-67-04</a>
</div>
