<div class="header" id="header">
    <div class="container">
        <div class="btn__menu">
            <i></i>
        </div>
        <div class="header__menu">
            <div class="header__call">
                Подзвонити
                <a href="tel:+380678070558">+38 (067) 807-05-58</a>
            </div>
            <div class="header__contacts">
                <p>Контактні телефони:</p>
                <div class="header__icons">
                    <a href="whatsapp://send?phone=%2B380977466704">
                        <img src="assets/img/icons/icon_watsapp.svg" alt="">
                    </a>
                    <a href="viber://add?number=%2B380977466704">
                        <img src="assets/img/icons/icon_viber.svg" alt="">
                    </a>
                    <a href="tg://resolve?domain=kievspecteh">
                        <img src="assets/img/icons/icon_telegram.svg" alt="">
                    </a>
                </div>
                <div class="header__phone-menu">
                    <a href="tel:+380977466704">+38 (097) 746-67-04</a>
                    <a href="tel:+380996321331">+38 (093) 632-13-31</a>
                    <a href="tel:+380442320298">+38 (044) 232-02-98</a>
                </div>
            </div>
            <div class="header__nav">
                <nav>
                    <ul class="header__navbar">
                        <li class="header__navbar-item">
                            Контейнери:
                        </li>
                        <li class="header__navbar-item">
                            <a class="scrollTo" href="#cont_1100">1100 <span>л</span></a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="scrollTo" href="#cont_750">750 <span>л</span></a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="scrollTo" href="#cont_240">240 <span>л</span></a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="scrollTo" href="#cont_120">120 <span>л</span></a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="scrollTo" href="#cont_separate">1100 <span>л</span> <p>для роздільного збору</p></a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="scrollTo" href="#offer">Послуги</a>
                        </li>
                        <li class="header__navbar-item mobile">
                            <a class="scrollTo" href="#form">Форма зв'язку</a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="scrollTo" href="#contact">Контакти</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__dropdown">
                <a class="phone" href="tel:+380977466704">+38 (097) 746-67-04</a>
                <div class="header__dropdown-hide">
                    <a class="phone" href="tel:+380996321331">+38 (099) 632-13-31</a>
                    <a class="phone" href="tel:+380442320298">+38 (044) 232-02-98</a>
                </div>
                <button class="header__dropdown-btn">
                    <svg class="dropdown__svg">
                        <use xlink:href="assets/sprite/SVG.svg#dropdown"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="header__card">
            <div class="header__logo">
                <img src="assets/img/icons/logo.svg" alt="">
                <div class="header__phone">
                    <div class="header__phone-group">
                        <a href="tel:+380977466704" class="phone">+380 97-74-66-704</a>
                    </div>
                    <p>Ваша чистота - наша турбота</p>
                </div>
            </div>
            <div class="header__cont">
                <div class="header__cont-img">
                    <div class="header__cont-card">
                        <picture>
                            <source srcset="assets/img/container-blue-240.webp" type="image/webp">
                            <img src="assets/img/container-blue-240.png" alt="...">
                        </picture>
                    </div>
                    <div class="header__cont-card">
                        <picture>
                            <source srcset="assets/img/containers-metall-plastic-1100.webp" type="image/webp">
                            <img src="assets/img/containers-metall-plastic-1100.png" alt="...">
                        </picture>
                    </div>
                    <div class="header__cont-card">
                        <picture>
                            <source srcset="assets/img/container-red-120.webp" type="image/webp">
                            <img src="assets/img/container-red-120.png" alt="...">
                        </picture>
                    </div>
                </div>
                <div class="header__cont-buttons">
                    <a class="scrollTo" href="#cont_1100">1100 л <p>Пластикові</p><span>Подивитись</span></a>
                    <a class="scrollTo" href="#cont_steel1100">1100 л <p>Оцинковані</p><span>Подивитись</span></a>
                    <a class="scrollTo" href="#cont_1100v">1100 л <p>Вживані</p><span>Подивитись</span></a>
                    <a class="scrollTo" href="#cont_750">750 л <p>Металічні</p><span>Подивитись</span></a>
                    <a class="scrollTo" href="#cont_separate">1100 л <p>Для роздільного збору</p><span>Подивитись</span></a>
                    <a class="scrollTo" href="#cont_240">240 л <p>Пластикові</p><span>Подивитись</span></a>
                    <a class="scrollTo" href="#cont_120">120 л <p>Пластикові</p><span>Подивитись</span></a>
                </div>
            </div>
        </div>
        <div class="header__description">
            <div class="header__description-item">
                <div class="header__text">
                    <h1>Пропонуємо контейнери для сміття та побутових відходів</h1>
                    <p>нові, вживані, оцинковані, пластикові, з плоскою та сферичною кришкою, різного об’єму та
                        кольору</p>
                </div>
            </div>
            <div class="header__description-item">
                <p>
                    Наша компанія займається поставкою та реалізацією євроконтейнерів для сміття для підприємств,
                    комунальних служб та інших. У нас можна придбати контейнери та урни для ТПВ (сміття): з
                    пластику, оцинковані, металеві
                    <span>за дуже приємними цінами</span>
                </p>
            </div>
            <div class="header__description-button">
                <a href="#popup" class="popup-link">Замовити зараз</a>
                <div class="popup" id="popup">
                    <div class="popup__body">
                        <div class="popup__content popup__content-form">
                            <a href="" class="popup__close close-popup">
                                <svg class="popup__svg">
                                    <use xlink:href="assets/sprite/SVG.svg#popup__close"></use>
                                </svg>
                            </a>
                            <div class="popup__title">
                                <span>Замовити контейнер</span>
                            </div>
                            <div class="popup__main popup__form">
                                <form class="ajax" action="https://api.zina.com.ua/send_form" method="post">
                                    <input type="text" name="field_first-name" placeholder="Ім'я" required="">
                                    <input class="mask" name="field_phone" type="text"
                                           placeholder="+38(_ _ _) _ _ _ _ _ _ _" required="">
                                    <textarea name="field_site_description" cols="20" rows="8"
                                              placeholder="Напишіть, будь-ласка, коментар"></textarea>
                                    <button type="submit" class="btn">Надіслати</button>
                                    <input type="hidden" name="mail_to"
                                           value="eurocontainerua@gmail.com,info@kievspecteh.com">
                                    <input type="hidden" name="label_field_first-name" value="Ваше имя">
                                    <input type="hidden" name="label_field_phone" value="Номер телефона">
                                    <input type="hidden" name="label_field_site_description" value="Cообщение">
                                    <input type="hidden" name="form_title" value="ОСТАВЛЕН ЗАКАЗ">
                                    <input type="text" name="username">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>