<div class="offer" id="offer">
  <div class="container">
    <div class="offer__title allTitle">
      <h2>Ми пропонуємо Вам</h2>
    </div>
    <div class="offer__items">
      <div class="offer__item">
        <svg class="offer__svg">
          <use xlink:href="assets/sprite/SVG.svg#offer1"></use>
        </svg>
        <div class="offer__item-body">
          <h3 class="offer__item-title">Провідні ТМ Європи</h3>
          <div class="offer__item-wrap">
            <p class="offer__item-text">
              ESE, SULO, OTTO, SHEFER, WEBER, MEVA, CONTENUR, UROPLAST
            </p>
            <p class="offer__item-text">
              Гарантія
            </p>
          </div>
        </div>
      </div>
      <div class="offer__item">
        <svg class="offer__svg">
          <use xlink:href="assets/sprite/SVG.svg#offer2"></use>
        </svg>
        <div class="offer__item-body">
          <h3 class="offer__item-title">ЄВРОКОНТЕЙНЕРИ</h3>
          <div class="offer__item-wrap">
            <p class="offer__item-text">
              Контейнери нові та використані в минулому.
            </p>
            <p class="offer__item-text">
              Пластикові контейнери широкого спектру кольорів: жовтий, синій, зелений, чорний
            </p>
          </div>
        </div>
      </div>
      <div class="offer__item">
        <svg class="offer__svg">
          <use xlink:href="assets/sprite/SVG.svg#offer3"></use>
        </svg>
        <div class="offer__item-body">
          <h3 class="offer__item-title">ОПЛАТА</h3>
          <div class="offer__item-wrap">
            <p class="offer__item-text">
              Розрахунок готівковий та безготівковий включно з НДС
            </p>
            <p class="offer__item-text">
              Оплата по факту
            </p>
            <p class="offer__item-text">
              Відсрочка платежу
            </p>
          </div>
        </div>
      </div>
      <div class="offer__item">
        <svg class="offer__svg">
          <use xlink:href="assets/sprite/SVG.svg#offer4"></use>
        </svg>
        <div class="offer__item-body">
          <h3 class="offer__item-title">ДОСТАВКА</h3>
          <div class="offer__item-wrap">
            <p class="offer__item-text">
              Самовивіз або доставка по всій Україні
            </p>
            <p class="offer__item-text">
              Нова пошта, Інтайм, Делівєри, САТ, Нічний экспрес
            </p>
          </div>
        </div>
      </div>
      <div class="offer__item">
        <svg class="offer__svg">
          <use xlink:href="assets/sprite/SVG.svg#offer5"></use>
        </svg>
        <div class="offer__item-body">
          <h3 class="offer__item-title">ПРОДАЖ КОМПЛЕКТУЮЧИХ</h3>
          <div class="offer__item-wrap">
            <p class="offer__item-text">
              Колеса
            </p>
            <p class="offer__item-text">
              Кришки
            </p>
            <p class="offer__item-text">
              Цапфи
            </p>
          </div>
        </div>
      </div>
      <div class="offer__item">
        <svg class="offer__svg">
          <use xlink:href="assets/sprite/SVG.svg#offer6"></use>
        </svg>
        <div class="offer__item-body">
          <h3 class="offer__item-title">ВИГОТОВЛЕННЯ</h3>
          <div class="offer__item-wrap">
            <p class="offer__item-text">
              Можливе виготовлення контейнерів під особисті розміри які надає клієнт
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>