<div class="stats">
    <div class="container">
        <div class="stats_list">
            <div class="stats_item">
                <div class="stats_count" data-count="12"></div>
                <h4 class="stats_title">
                    Років
                </h4>
                <div>на ринку контейнерів</div>
            </div>
            <div class="stats_item">
                <div class="stats_count" data-count="10000"></div>
                <h4 class="stats_title">
                    Контейнерів
                </h4>
                <div>завжди в наявності</div>
            </div>
            <div class="stats_item">
                <div class="stats_count" data-count="15245"></div>
                <h4 class="stats_title">
                    Задоволених
                </h4>
                <div>клієнтів</div>
            </div>
            <div class="stats_item">
                <div class="stats_count" data-count="12"></div>
                <h4 class="stats_title">
                    Місяців гарантії
                </h4>
                <div>на всі контейнери</div>
            </div>
        </div>
    </div>
</div>